@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth ;
}

::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

body {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  overflow-x: hidden;
}